*{
    font-family: Roboto;
    margin: 0;
    padding: 0;
}

/* Header and banner section */

.HeaderAndBanner {
    background-color: #1F2937;
}

.Header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-inline: 10%;
    padding-top: 1%;
    padding-bottom: 1%;
}

a {
    text-decoration: none;
    transition: all 300ms ease-in-out;
    color: #E5E7EB;
}

a:hover {
    font-size: large;
    transition: 300ms;
    color: #F9FAF8;
}

ul {
    display: flex;
    gap: 10px;
    list-style: none;
}

.Logo{
    color: #F9FAF8;
}

.Banner{
    display: flex;
    margin-inline: 10%;
    color: #E5E7EB;
    justify-content: space-between;
    align-items: center;
}

img{
    max-height: 400px;
    padding: 5%;
}

.SignUpBtn{
    background-color: #3882F6;
    transition: all 300ms ease-in-out;
    margin-top: 10px;
    color: #F9FAF8;
    font-weight: 700;
    padding: 10px 32px;
    border: none;
    border-radius: 8px;
}

.SignUpBtn:hover{
    transition: 300ms;
    transform: scale(1.1);
    background-color: #4f90f8;
}

/* Main section */

.RandomHeader{
    display: flex;
    justify-content: center;
    margin: 5%; 
}

.boxes {
    display: flex;
    justify-content: center;
    margin: 0% 15% 5% 15%;
    gap: 15%;
    text-align: center;
}

.box {
    border: #3882F6 solid 3px;
    border-radius: 16px;
    width: 150px;
    height: 150px;
}

.BoxWithText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Quote section */

.QuoteSection {
    background-color: #E5E7EB;
    color: #1F2937;
}

.QuoteArea {
    display: flex;
    flex-direction: column;
    padding: 5% 20%;
}

.Quote {
    font-style: italic;
    font-weight: lighter;
    font-size: 36px;
}

.Author{
    align-self: flex-end;
}

/* Call to action section */

.CallToAction {
    display: flex;
    color: #F9FAF8;
    margin: 5% 10%;
    padding: 5%;
    background-color: #3882F6;
    border-radius: 16px;
    justify-content: space-between;
}

.SignUpBtnCallToAction {
    background-color: #3882F6;
    transition: all 300ms ease-in-out;
    border: #F9FAF8 solid 1px;
    border-radius: 8px;
    color: #F9FAF8;
    font-weight: 700;
    padding: 10px 32px;
}

.SignUpBtnCallToAction:hover {
    transition: 300ms;
    background-color: #4f90f8;
    transform: scale(1.1);
}

/* Footer section */

.Footer {
    display: flex;
    padding: 1.5%;
    font-size: small;
    background-color: #1F2937;
    color: #E5E7EB;
    justify-content: center;
}